<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{{ path('accueil') }}">
            <img src="" alt="">
            PAPILHORIG</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="navbar-collapse collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{path('Presentation')}}">Présentation <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{path('Produits')}}">Produits</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('Galerie')}}">Galerie Photo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('Creation')}}">Création</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('PressBook') }}">Press Book</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('Contact')}}">Contactez-nous</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
          <div class="container">
              {% block body %}
                  
              {% endblock body %}
          </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
